*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Calibri light";
}

.contenedor{
    background: tomato;
    border-style: solid;
    width: 80%;
    margin: auto;
}

header{
    height: 400px;
    background-image: url("../imagenes/chicago.jpg");
    background-position: center;
    background-size: cover;
}

main{
    background-color: white;
    padding: 20px 30px;
}

main .foto{
    width: 150px;
    height: 150px;
    background-color: teal;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #ffffff;
}

main .foto img{
    width: 100%;
    border-radius: 50%;
}

main .texto  h2{
    text-align: center;
    font-size: 35px;
    margin: 10px;
}

main .texto p{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 15px;
    text-align: center;
}

.boton a{
    background-color: teal;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 15px 10px;
    border-radius: 5px;
    width: 100px;
    margin: 15px auto;
    text-align: center;
}

.boton a:hover{
    background-color: red;
}